@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
    box-sizing: border-box;
}

body {
    background-image: -webkit-linear-gradient(left, #f7f7f7, #f7f7f7);
    background-image: linear-gradient(to right, #f7f7f7, #f7f7f7);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: "Open Sans", sans-serif;

}

a {
    text-decoration: none;

}

h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 350px;
    font-size: 13.5px;
    word-spacing: normal;
    text-align: left;
    padding: 1px;

}
h5{
    position: relative;
}
p{
    font-size: 12px;
    text-align: justify;
    word-spacing: 0.1em;
    overflow: hidden;

}


img{
    width: 300px;
    height: 200px;
}

.row{
    margin-left: 20%;
    margin-top: 90px;
    width: 80%;
    height: 1%;
    position: relative;
    margin-bottom: 5%;

}
.card {

    padding: 0 1.7rem;
    width: 30%;
    height: 10%;


}
.card .menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
    content: '';
    display: table;
}
.card .menu-content::after {
    clear: both;
}
.card .menu-content li {
    display: inline-block;
}
.card .menu-content a {
    color: #fff;
}

.card .menu-content span {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 10px;
    font-family: 'Open Sans';
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.card .wrapper {
    background-color: #fff;
    min-height: 450px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);

}
.card .wrapper:hover .data  {
    -webkit-transform: translateY(60);
    transform: translateY(60);

}

.card .wrapper:hover .menu-content {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);

}
.data  {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: -50px;
    -webkit-transform: translateY(calc(30px + 1em));
    transform: translateY(calc(30px + 1em));
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;

}
.card .data .content {
    padding: 1em;
    position: absolute;
    z-index: 1;
    height: 500px;

}
.card .author {
    font-size: 12px;
}
.card .title {

    margin-top: 10px;
    height: 166px;
    overflow: hidden;
    word-spacing: normal;
    font-family: "Open Sans", sans-serif;
    font-weight: 350px;
    font-size: 13.5px;
    word-spacing: normal;
    text-align: left;
    padding: 1px;
    padding-top: 5px;

}

.alink{
    padding-bottom:1150px ;
}
.card .text {
    height: 60px;
    margin: 0;
    font-size: 11.5px;
}

.card input[type='checkbox'] {
    display: none;
}
.card input[type='checkbox']:checked + .menu-content {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
}




.example-1 .wrapper {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-resolution: 7200dpi;
}


.example-1 .date {
    position: absolute;
    top: 0;
    left: 0;
    background:linear-gradient(40deg,#45cafc,#303f9f)!important;
    color: #fff;
    padding: 0.8em;
}
.example-1 .date span {
    display: block;
    text-align: center;
}
.example-1 .date .day {
    font-weight: 700;
    font-size: 24px;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}
.example-1 .date .month {
    text-transform: uppercase;
}
.example-1 .date .month,
.example-1 .date .year {
    font-size: 12px;
}
.example-1 .content {
    background-color: #fff;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}
.example-1 .title a {
    color: dodgerblue!important;

}
.example-1 .menu-button {
    position: absolute;
    z-index: 999;
    top: 16px;
    right: 16px;
    width: 25px;
    text-align: center;
    cursor: pointer;
}
.example-1 .menu-button span {
    width: 5px;
    height: 5px;
    background-color: gray;
    color: gray;
    position: relative;
    display: inline-block;
    border-radius: 50%;
}
.example-1 .menu-button span::after, .example-1 .menu-button span::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background-color: currentColor;
    position: absolute;
    border-radius: 50%;
}
.example-1 .menu-button span::before {
    left: -10px;
}
.example-1 .menu-button span::after {
    right: -10px;
}
.example-1 .menu-content {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.example-1 .menu-content li {
    width: 33.333333%;
    float: left;
    background-color: #0099CC;
    height: 60px;
    position: relative;
}
.example-1 .menu-content a {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-decoration:none
}
.example-1 .menu-content span {
    top: -10px;
}

.size{
    font-size:14px;
}


.callout {
    height: 250px;
    width: 282px;
    float: left;
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #fff, #fff);
    position: absolute;
    color: #000;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #000;
    margin: 25px;
    margin-top: -50px;
    min-height: 100px;
    border: 1px solid #fff;
    text-shadow: 0 0 1px #fff;
    display:block;
    top: 150px;



}

.scroll{
    overflow:scroll;
    overflow-y:scroll;
    overflow-x:hidden;
    text-align: left;
    font-size: 11px;

}
.scroll::-webkit-scrollbar{
    width: 7px;

}
.scroll::-webkit-scrollbar-track{
    background: rgb(39, 103, 241);
    border: 3px solid transparent;
    background-clip: content-box;
    border-radius: 10px solid transparent;
    -webkit-box-shadow: inset 0 0 6px #f06292 ;
    background-color: #f8bbd0  ;
    border-left: 3px solid white;
    border-right: 3px solid white;
}
.scroll::-webkit-scrollbar-thumb{
    background: rgb(25, 220, 255);
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 px #ad1457 ;
    background-color: #e91e63   ;
}

.callout::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 0.8em solid transparent;
    position: absolute;


}

.callout.bottom::before {
    left: 45%;
    top: -20px;
    border-bottom: 10px solid #444;

}



.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }



.container {
    display: block;
    position: absolute;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container .input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
}

/* On mouse-over, add a grey background color */
.container:hover .input ~ .checkmark {
    background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.container .input:checked ~ .checkmark {
    background-color: dodgerblue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container .input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 2px;
    width: 10px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.containerbtn {
    display: block;
    position: absolute;
    padding-left: 0px;
    margin-bottom: 12px;
    margin-top: -4px;
    margin-left: 255px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: none;
    border: none;
}

/* Darker background on mouse-over */

.center {
    margin-top:50px;
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}


.fa-icon-size{
    font-size:13px !important;

}
.btn {
    background-color: white;
    color:DodgerBlue;
    border: 1px solid dodgerblue;
    border-radius: 0px;
    font-size: 16px !important;
    cursor: pointer;
    margin-top: 5px !important;
    margin-right: 1px !important;

}
.btn:hover{
    background-color: DodgerBlue;
    color: white;
    outline: 0;
}
.btn:focus{
    color:dodgerblue;
    outline:0;
}
.btn:active{
    color:white;
    outline:0;
}
.btn:hover{
    color:white;
    outline:0;
}

.unbind:disabled{
    background-color: white;
    color:DodgerBlue;

}
.bind:disabled{
    background-color: white;
    color:DodgerBlue;
}


.btn-submit:focus{
    color:white;
    background-color:dodgerblue;
}
.btn-close:focus{
    color:white;
    background-color:dodgerblue;
}
.spacing{

    margin-top: -10px !important;

}


.containers {
    display: block;
    position: absolute;
    padding-left: 35px !important;
    margin-bottom: 12px !important;
    margin-top: 5px !important;
    margin-left: 0px;
    cursor: pointer;
    font-size: 12px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border:1px solid dodgerblue;
    background-color: white;
    color: dodgerblue;

}



/* Hide the browser's default checkbox */
.containers .inputs {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    background:#fff;

}
.font-color{
    padding-right: 5px;
}
.inputs.font-color{
    color: dodgerblue;


}

.inputs.font-color:hover{
    color: #fff;
}
/* Create a custom checkbox */
.checkmarks {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: dodgerblue;

}

/* On mouse-over, add a grey background color */
.containers:hover .inputs ~ .checkmarks {
    background-color: dodgerblue;
}

/* When the checkbox is checked, add a blue background */
.containers .inputs:checked ~ .checkmarks{
    background-color: dodgerblue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarks:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containers .inputs:checked ~ .checkmarks:after {
    display: block;
}

/* Style the checkmark/indicator */
.containers .checkmarks:after {
    left: 9px;
    top: 2px;
    width: 10px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.padding-size{

    margin-top: 12px;
}

.icon-size{
    font-size:24px;

}
.inputs .icon-size{
    color: dodgerblue;


}
.inputs .icon-size:hover{
    color: white;
}
.btn-size{
    margin-left: -10px;
}

.scroll{
    height:120px;
    overflow: auto;
}

.modal-body .modal-footer-margin{

    margin-top: 5px;
}

.combobox-categorylist{
    margin-left:10px;
}
.combobox-categorylist:hover{

    box-shadow: 10px solid dodgerblue ;
}

.combobox-languagelist{
    margin-left: 5px;

}
.combobox-medialist{
    margin-left: 15px;

}
.combobox-countrylist{
    margin-left: 3px;

}
select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    appearance: none;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;

    border: 1px solid #DDDDDD;
}
select::-ms-expand {
    display: none;
}
select:focus{

    border: 1px solid dodgerblue;


}
.select-focus:focus {
    border: 1px solid dodgerblue;

}
.media{
    margin-left: 55px;
}

.country{
    margin-left: 55px;
}

select{
    width: 150px;
}

.sr-only-click{
    outline:0;
}


.article-box{
    position: relative;
}




@media screen and (max-width: 1330px) {
    .callout {
        height: 250px;
        width: auto;
        position: absolute;
        right: 5%;
        left: 5%;
    }

    .btn {
        background-color: white;
        color:DodgerBlue;
        border: 1px solid dodgerblue;
        border-radius: 0px;
        font-size: 16px !important;
        cursor: pointer;
        margin-top: 5px !important;
        margin-right: 1px !important;

    }

}
@media screen and (max-width: 1200px){
    .callout {
        height: 250px;
        width: auto;
        position: absolute;
        right: 5%;
        left: 5%;
    }


    .btn {
        background-color: white;
        color:DodgerBlue;
        border: 1px solid dodgerblue;
        border-radius: 0px;
        font-size: 16px !important;
        cursor: pointer;
        margin-top: 5px !important;
        margin-right: 1px !important;

    }

}

@media screen and (max-width: 1000px) {
    .callout {
        height: 250px;
        width: auto;
        position: absolute;
        right: 5%;
        left: 5%;
    }

    .btn {
        background-color: white;
        color:DodgerBlue;
        border: 1px solid dodgerblue;
        border-radius: 0px;
        font-size: 16px !important;
        cursor: pointer;
        margin-top: 5px !important;
        margin-right: 1px !important;

    }


}
@media screen and (max-width: 768px){
    .callout {
        height: 250px;
        width: auto;
        position: absolute;
        margin-left:50px;
        right: 5%;
        left: 5%;
    }

    .btn {
        background-color: white;
        color:DodgerBlue;
        border: 1px solid dodgerblue;
        border-radius: 0px;
        font-size: 16px !important;
        cursor: pointer;
        margin-top: 5px !important;
        margin-right: 1px !important;

    }


}

@media screen and (max-width: 600px){
    .callout {
        height: 250px;
        width: 282px;
        position: absolute;
        right: 5%;
        left: 4%;
    }

    .btn {
        background-color: white;
        color:DodgerBlue;
        border: 1px solid dodgerblue;
        border-radius: 0px;
        font-size: 16px !important;
        cursor: pointer;
        margin-top: 5px !important;
        margin-right: 1px !important;

    }


}

@media screen and (max-width: 350px){
    .callout {
        height: 250px;
        width: auto;
        position: absolute;
        right: 5%;
        left: 5%;

    }

    .btn {
        background-color: white;
        color:DodgerBlue;
        border: 1px solid dodgerblue;
        border-radius: 0px;
        font-size: 16px !important;
        cursor: pointer;
        margin-top: 5px !important;
        margin-right: 1px !important;

    }

}
/*Responsive section ends here*/

.fixed-btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    height: 100px;
    z-index: 999;
    display: block;
    font-size: 20px !important;
    border-radius: 50%;
    outline: 0;
}

.btn-circle{
    border-radius: 50%;
    outline: 0;

}
.btn-size{
    width:60px;
    height: 60px;
    font-size:30px !important;
}


.fixed-btn {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 999;
    display: block;
    font-size: 20px !important;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: white;
}

.btn-circle{
    border-radius: 50%;
    outline: 0;
    background-color: dodgerblue;
    color: white;
}
.btn-size{
    width:60px;
    height: 60px;
    font-size:35px !important;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2), 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:2px 2px 5px 0px rgba(0, 0, 0, 0.2), 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow:2px 2px 5px 0px rgba(0, 0, 0, 0.2), 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.fixed-btn:focus{
    border: none;
    outline: 0;
    background-color: dodgerblue;
    color: white;
}
.fixed-btn:active{
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: white;
}

.fixed-btn:hover{
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: white;
}
