@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
body{
	background-color: #f7f7f7;
}
button, input, select, textarea{
	font-family: "Lato";
}
.home-container{
	border-top: 3px solid #e67e22;
}
.home-sidebar{
	width: 18%;
	position: fixed;
	background-color: #2d302e;
	height: 100%;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-transition: width .5s ease-out;
	-moz-transition: width .5s ease-out;
	-o-transition: width .5s ease-out;
	-ms-transition: width .5s ease-out;
	transition: width .5s ease-out;
}
.home-tab-sidebar{
	display: none;
}
.home-sidebar::-webkit-scrollbar              {
	width: 5px;
	height: 10px;
}
.home-sidebar::-webkit-scrollbar-track        {}
.home-sidebar::-webkit-scrollbar-track-piece  {
	background-color: #131313;
}
.home-sidebar::-webkit-scrollbar-thumb        {
	background-color: #e67e22;
}
.home-sidebar::-webkit-scrollbar-corner       {}
.home-sidebar::-webkit-resizer                {}
.mobile-header{
	display: none;
}
.logo{
	margin: 20px 72px 0 73px;
	background: url(../images/logo1.png) no-repeat;
	width: 78px;
	height: 59px;
}
.s-cat-box{
	padding: 15px 0;
}
.s-cat-heading{
	padding: 18px 0 18px 40px;
	cursor: pointer;
}
.s-cat-heading h5{
	display: inline-block;
	font-family: "Lato";
	color: #f0f3f6;
	line-height: 21px;
	margin: 0 10px 0 21px;
	text-transform: uppercase;
	width: 100px;
}
.s-cat-heading-active h5{
	color: #e67e22;
}
.s-topics{
	padding: 30px 0;
}
.s-topic{
	display: block;
	padding: 5px 0 5px 40px;
}
.s-topic:hover{
	background: #e67e22;
}
.s-topic-active{
	background: #e67e22;
}
.s-topic-icon{
	display: inline-block;
	width: 19px;
}
.s-topic h5{
	display: inline-block;
	font-family: "Lato";
	font-weight: 400;
	color: #f0f3f6;
	line-height: 21px;
	margin: 10px 10px 10px 17px;
	text-transform: uppercase;
	width: 100px;
}
.s-topic:first-child h5{
	margin: 0px 10px 10px 17px;
}
.s-topic:last-child h5{
	margin: 10px 10px 10px 17px;
}
.new-icon{
	background: url("../images/new-icon.png")no-repeat;
	width: 19px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
}
.trending-icon{
	background: url("../images/trending-icon.png")no-repeat;
	height: 15px;
	width: 15px;
	display: inline-block;
	vertical-align: middle;
}
.expired-icon{
	background: url("../images/expired-icon.png")no-repeat;
	height: 15px;
	width: 15px;
	display: inline-block;
	vertical-align: middle;
}
.mylinks-icon{
	background: url("../images/mylinks-icon.png")no-repeat;
	width: 14px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}
.cat-icon{
	background: url('../images/cat-icon.png') no-repeat;
	width: 14px;
	height: 13px;
	display: inline-block;
}
.down-icon{
	background: url('../images/down-icon.png')no-repeat;
	width: 10px;
	height: 6px;
	display: inline-block;
	vertical-align: middle;
}
.down-icon-grey{
	margin-left: 10px;
	background: url('../images/down-icon-grey.png')no-repeat;
	width: 10px;
	height: 6px;
	display: inline-block;
	vertical-align: middle;
}
.left-arrow{
	background: url("../images/left-arrow.png")no-repeat;
	width: 20px;
	height: 21px;
	float: right;
	margin-right: 10%;
	cursor: pointer;
	display: inline-block;
}
.cat-list{
	list-style: none;
	margin-top: 14px;
	padding: 0;
}
.cat-list a{
	color: #f0f3f6;
	font-family: "Lato";
	font-weight: 500;
	font-size: 12px;
	text-decoration: none; 
}
.cat-list ul{
	padding: 0;
}
.cat-list li{
	padding: 15px 0 15px 80px;
	line-height: 11px;
}
.cat-list li:hover{
	background-color: #e67e22;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	-ms-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}
.cat-list-active{
	background-color:#e67e22;
}
.country-icon{
	background: url('../images/country-icon.png') no-repeat; 
	display: inline-block;
	width: 14px;
	height: 16px;
}
.lang-icon{
	background: url('../images/lang-icon.png') no-repeat; 
	display: inline-block;
	width: 14px;
	height: 17px;
}
.home-header{
	background-color: #ffffff;
}
.signin-header{
	background: #f7f7f7;
}
.home-main{
	width: 82%;
	float: right;
}
.home-content{
	background-color: #f7f7f7;
	padding: 40px;
	position: relative;
}
.home-search{  
	margin: 25px 12% 25px 12%;
	border-bottom: 1px solid #e0e0e0;
	width: 50%;
	float: left;
	display: none;
}
.home-search-control{
	box-shadow: none;
	border: none;
	border-radius: 0;
	height: 30px;
}
.home-search-control:focus{
	border-color: #e67e22;
	outline: none;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;	
	box-shadow: none !important;
	border-bottom: 2px solid #e67e22!important;
}
.home-search-btn{
	background: url('../images/search-icon.png') no-repeat; 
	background-position: center;
	border: none;
	height: 30px;
	padding-right: 10px;
	border-radius: 0;
	width: 40px;
}
.custom-input-group{
	width: 14%;
}
.custom-focus:focus {
	border-color: #e67e22;
	outline: none;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;	
	box-shadow: none !important;
	border-bottom: 2px solid #e67e22 !important;
}
.home-search-btn:active{
	background-color: #fff;
	background-repeat: no-repeat;
	background-image: url('../images/search-icon.png'); 
	background-position: center;
}
.home-search-btn:focus{
	outline: none;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;	
	box-shadow: none !important;
}
.home-search-btn:hover{
	background-color: #fff;
}
.home-login{
	display: inline-block;
	margin: 30px 9% 20px 20px;
	float: right;
}
.google-play-download {
	display: inline-block;
	padding-left: 10px;
	color: #e67e22;
}
.home-login p{
	display: inline-block;
	margin: 0;
}
.home-login p a{
	color: #000000;
	font-family: "Lato";
	font-weight: 300;
	text-transform: uppercase;	
}
.home-login p:first-child:after{
	content: "/";
}
.home-user{
	display: inline-block;
	margin: 10px 15% 10px 10px;
	float: right;
}
.home-user .open{
	left: inherit;
	right: 0;
}
.home-user a{
	text-decoration: none;
	color: #ffffff;
}
.dropdown-menu{
	right: 0;
}
.open>.dropdown-menu{
	background-color: #2d302e;
	border-radius: 2px; 
}
.home-user a li{
	padding: 5px 15px;
	font-family: "Lato"!important;
}
.home-user a li:hover{
	background-color: #e67e22;
	color: #ffffff;
}
.home-user-details{
	display: block;
}
.home-user-details li{
	list-style: none;
}
.home-user span{
	display: inline-block;
	cursor: pointer;
	color: #000000;
}
.h-user-pic{
	/*display: inline-block;*/
	display: none;
	margin-right: 18px;
}
.h-user-name{
	font-family: "Lato";
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
}
.submit-post{
	padding: 20px 40px;
	display: block;
	text-align: center;
}
.submit-post a:hover{
	text-decoration: none;
}
.submit-post .input-group{
	width: 95.3%;
}
.search-text{
	height: 50px;
	border-radius: 0px;
	box-shadow: none;
	border: 1px solid #dfdfdf;
	border-radius: 0;
	color: #2b3440;
	font-family: 'Lato';
	font-size: 14px;
	font-weight: 300;
}
.submit-box{
	border-radius: 0;
}
.submit-box:focus{
	border-color: #e67e22;
}
.search-btn{
	padding: 14px 12px;
	width: 130px;
	background-color: #e67e22;
	color: #ffffff;
	font-family: "Lato";
	font-weight: 300;
	text-transform: uppercase;	
}
.submit-text{
	background-color: #e67e22;
	color: #ffffff;
	font-family: "Lato";
	font-weight: 300;
	text-transform: uppercase;
	padding: 10px 30px;
	text-decoration: none;
}
.submit-text:hover{
	background-color: #ffffff;
	color: #e67e22;
	border: 1px solid #e67e22;
	text-decoration: none;
}
.article-source {
	font-family: "Lato";
	margin-bottom: 40px;
}
.article-source .source-title{
	color: #151515;
	font-weight: 300;
	font-size: 18px;
}
.article-source .articles-domain{
	font-size: 20px;
	color: #e67e22;
	font-weight: normal;	
}
.article-source .articles-found{
	font-weight: 300;
	font-size: 14px;
	color: #2d302e;
}
.home-articles{
	padding: 0;
}
.article-box{
	padding: 0;
	border: 1px solid #dfdfdf;
	width: 312px;
	background-color: #ffffff;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 20px;
}
.box-shadow{
	background: url("../images/box-shadow.png") no-repeat;
	width: 312px;
	height: 24px;
	position: absolute;
}
.articles-img{
	height: 186px;
	overflow: hidden;
	width: 100%;
}
.article-box img{
	border-radius: 1px;
	width: 100%;
}
.article-box-content{
	padding: 20px 20px 10px 20px;
}
.article-box-content>a>h5{
	font-size: 14px;
	color: #151515;
	font-family: "Lato";
	display: inline-block;
	height: 30px;
	font-weight: bold;
}
.article-box-content>h6{
	font-family: "Lato";
	font-weight: 400;
	color: #717171;
	font-style: italic;
	margin-top: 0;
}
.article-box-content>a>span{
	color: #e67e22;
	font-family: "Lato";
	font-weight: 400;
	font-size: 12px;
	padding-right: 20px;
	display: inline-block;
}
.article-shadow{
	background: url("../images/article-box-shadow.png")no-repeat;
	height: 1px;
	margin: 20px 0 10px 0;
}
.article-like{
	display: inline-block;
	cursor: pointer;
}
.article-comment{
	display: inline-block;
	cursor: pointer;
}
.article-later{
	display: inline-block;
	cursor: pointer;
}
.like-icon{
	background: url("../images/like-icon.png");
	width: 15px;
	height: 14px;
	display: inline-block;
	background-repeat: no-repeat;
}

.like-filled-icon{
	background: url("../images/like-filled-icon.png");
	width: 15px;
	height: 14px;
	display: inline-block;
	background-repeat: no-repeat;
}

.domain-color {
	color: #2a332d;
}

.comment-icon{
	background: url("../images/comment-icon.png");
	width: 12px;
	height: 12px;
	display: inline-block;
	background-repeat: no-repeat;
}
.later-icon{
	background: url("../images/later-icon.png");
	height: 14px;
	width: 14px;
	display: inline-block;
	background-repeat: no-repeat;
}
.later-filled-icon{
	background: url("../images/later-filled-icon.png");
	height: 14px;
	width: 14px;
	display: inline-block;
	background-repeat: no-repeat;
}
.article-like h6, .article-comment h6{
	color: #2a332d;
	display: inline-block;
	padding-right: 15px;
	padding-left: 3px; 
	font-family: "Lato";
	font-weight: 400;
}
.article-later h6{
	color: #2a332d;
	display: inline-block;
	padding-right: 0;
	padding-left: 3px; 	
	font-family: "Lato";
	font-weight: 400;
}
/*Homepage CSS ends here*/

/*Submit Item CSS starts here*/
.submit-item{
	/*margin-top: 60px;*/
	/*margin-bottom: 60px;*/
	min-width:200px;
	min-height: 200px;
	background: #ffffff;
	border-top: 4px solid #e67e22;
	border-bottom: 1px solid #dedede;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	padding: 25px;
}
.s-i-text{
	/*border-bottom: 1px solid #b2c0c5;*/
	text-align: center;
	margin: 0 39%;
}
.submit-item h4{
	color: #000000;
	font-family: "Lato";
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	/*text-decoration: underline;*/
}
.s-i-form{
	padding: 0 10%;
}
.s-i-form>form{
	margin-top: 20px;
}
.s-i-form>form ul li{
	padding: 10px 0;
}
.s-i-form>form ul li label
{
	display: inline-block;
	color: #000000;
	font-family: "Lato";
	width: 15%;
}
.s-i-form>form ul li textarea{
	resize: none;
}
.submit-content{
	/*background-color: #f7f7f7;*/
	position: relative;
	padding: 10% 310px 40px 200px;
}
.signup-content{
	/*background-color: #f7f7f7;*/
}
.pad0{
	padding: 0;
}
.submit-item-shadow{
	background: url("../images/submit-item-shadow.png")no-repeat;
	height: 53px;
}
.sigin-item-shadow{
	background: url("../images/submit-item-shadow.png")no-repeat;
	height: 53px;
	background-size: 100%;
}
.submit-input{
	vertical-align: middle;
	display: inline-block;
	width: 84%;
	box-shadow: none;
	border-color: #e5e5e5;
}
.submit-form-select{
	width: 49%;
	display: inline-block;
}
.submit-form-select label{
	width: 30%!important;
}
.pl10{
	padding-left: 10px;
}
.submit-form-select select{
	width: 68%!important;
	text-transform: uppercase;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	line-height: normal;
	cursor:pointer;
	background:url("../images/down-select-icon.png") no-repeat 95% center !important; /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f7f7',GradientType=0 ); /* IE6-9 */

}
.tagEditor{
	margin-left: 15.5%;
	padding: 5px 0;
}
.tagEditor>li{
	background-color: #e67e22;
	padding: 2px 18px 2px 6px!important;
	color: #ffffff;
	list-style: none;
	cursor: pointer;
	font-family: "Lato";
	font-weight: 300;
	font-size: 12px;
	background-image: url("../images/tag-close.png");
	background-repeat: no-repeat;
	background-position: right 5px center;
	display: inline-block;
	margin: 0 10px 0 0;
}
.tagEditor>li:hover{
	background-color: #e67e22;
}
.btn-post{
	background-color:#e67e22;
	color: #ffffff;
	font-family: "Lato";
	font-weight: 400;
	font-size: 15px;
	padding: 5px 80px;
	border-radius: 2px;
	text-align: center;
}
.btn-post:hover{
	background-color: #e67e22;
	color: #ffffff;
}

.pad-0{
	padding: 0!important;
}
/*Submit Item CSS ends here*/

/*Signup and Signin page css starts here*/
.pl-zero{
	padding-left: 0;
}
.submit-content .modal-content{
	border-radius: 0;
	border-top: 5px solid #e67e22;
}
.submit-content .modal-header{
	border-bottom: 0;
}
.sign-tab{
	text-align: center;
	/*margin-top: 20px;*/
}
.sign-tab ul{
	padding: 0;
}
.sign-tab ul li{
	list-style: none;
	border: 1px solid #e5e5e5;
	color: #000000;
	background: #fff;
	padding: 5px 40px;
	display: inline-block;
	cursor: pointer;
	font-family: "Lato";
	font-size: 14px;

}
.sign-tab ul li:first-child{
	border-right: 0;
}
.sign-tab ul li:last-child{
	margin-left: -5px;
}
.sign-tab ul li.active{
	background-color: #e67e22;
	color: #fff;
}
.login-left, .login-right{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	text-align: top;
}
.login-right{
	width: 40%;
	padding-top: 5px; 
	padding-left: 20px;
}
.login-center{
	width: 8%;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	position: relative;
	top: 40px;
}
.login-center hr{
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	/*position: absolute;
	height: 100%;
	left: -19px;
	top: -18px;*/
	width: 250px;
	margin-left: -93px;
}
.login-center.hr-signin hr{
	width: 120px;
	margin-left: -28px;
}
.login-center span{
	display: inline-block;
	width: 28px;
	height: 28px;
	background: none repeat scroll 0% 0% #F3F3F3;
	color: #2d302e;
	font-family: "Lato";
	font-size: 12px;
	border: 1px solid #DDD;
	border-radius: 50%;
	padding: 5px 3px;
	position: absolute;
	text-align: center;
	left: 18px;
	top: 0;
}
.sign-body{
	margin-top: 20px;
}
.sign-body .input-group{
	margin-bottom: 20px;
}
.sign-body .input-group-addon{
	background-color: #e67e22;
	border-color: #e5e5e5;
	border-radius: 2px;
}
.sign-body .input-group-addon img{
	width: 14px;
}
.sign-body .form-control{
	border-color: #e5e5e5;
	box-shadow: none;
	outline: none;
	height: 37px;
	border-radius: 2px;
}
.login-right a{
	display: block;
	padding-top: 5px;
}
.login-right img{
	margin-bottom: 10px;
}
.signupBtn{
	text-align: right;
}
.btn-signup{
	background: #e67e22;
	color: #fff;
	letter-spacing: 0.8px;
	padding: 5px 70px;
	border-radius: 2px;
	font-family: 'Lato';
	font-weight: bold;
}
.btn-signup:hover, .btn-signup:focus{
	color: #fff;
	outline: 0;
	box-shadow: none;
}
.pwd-options{
	display: block;
}
.remember-pwd{
	float: left;
	display: inline-block;
}
.remember-pwd label{
	color: #2d302e;
	font-family: "Lato";
	font-weight: 400;
}
.fgt-pwd{
	float: right;
	display: inline-block;
}
.fgt-pwd span{
	color: #e67e22;
	font-family: "Lato";
	font-weight: 300;
}
.signup-dialog{
	min-width: 700px;
	margin-top: 10%;
}
.signup-body{
	padding: 0px; 
}
.custom-close{
	top: -15px;
	position: relative;
	height: 30px;
	width: 30px;
	background-color: #ccc!important;
	border-radius: 100%!important;
}
.custom-close span{
	top: -2px;
	position: relative;
}
/*Signup and Signin page css ends here*/

/*Comments page css starts here*/
.comments-content{
	padding: 20px 0px 20px 40px;
	margin-right: 10%;
}
.comments-breadcrumb{
	background-color: inherit;
	display: inline-block;
	padding: 0px 15px 8px 0;
}
.comments-breadcrumb>li:last-child:after{
	content: "\003e";	
	color: #e67e22;
	font-weight: 600;
	padding: 0 2px; 

}
.comments-breadcrumb>li+li:before{
	content: "\003e";
	color: #e67e22;
	font-weight: 600;
	padding: 0 2px; 
}
.comments-breadcrumb>li>a{
	color: #e67e22;
	font-weight: 600;
}
.comments-back{
	color: #e67e22;
	font-weight: 600;
	float: right;
}
.article-content h2{
	font-family: "Lato";
	font-size: 24px;
	color: #151515;
	font-style: normal;
	line-height: 21px;
	margin-top: 0;
	display: inline;
}
.article-content p{
	color: #000000;
	margin-top: 15px;
	line-height: 21px;
	padding-right: 10%;
}
.pop-out{
	background: url("../images/pop-out.png")no-repeat;
	width: 13px;
	height: 11px;
	display: inline-block;
	vertical-align: top;
	margin: 0 5px;
}
.article-comments{
	border: 1px solid #dedede;
	background-color: #ffffff;
	padding: 30px 40px;
	margin-top: 20px;
}
.comments-header{
	width: 100%;
	display: block;
}
.comments-header h4{
	font-size: 15px;
	color: #898989;
	font-family: "Lato";
	font-weight: normal;
	display: inline-block;
	text-decoration: underline;
}
.comments-filter{
	display: inline-block;
	float: right;
}
.comments-filter span{
	color: #898989;
	font-size: 14px;
	display: inline-block;
	margin: 10px 0;
	font-family: "Lato";
}
.comments-select{
	border: none;
	box-shadow: none;
	color: #898989;
	font-size: 14px;
	display: inline-block;
	font-family: "Lato";
	width: auto;
	background: url('../images/down-icon-dark-grey.png') no-repeat center right 10px!important;
    -webkit-appearance: none;
    background-position-x: 244px;
}
.comments-body{
	padding: 25px 0;
}
.comments-input-area, .comments-user{
	float: left;
	display: inline-block;
	padding: 0;
}
.comments-avatar{
}
.comments-avatar img{
	border-radius: 100%;
	width: 50px;
	height: 50px;
}
.comments-input-text{
	padding: 0;
	margin: 0;
	float: left;
	display: inline-block;
}
.down-icon-dark-grey{
	margin-left: 10px;
	background: url('../images/down-icon-dark-grey.png')no-repeat;
	width: 8px;
	height: 6px;
	display: inline-block;
	vertical-align: middle;
}
.comment-item{
	padding: 15px 0 5px 0;
}
.comments-info{
	border-bottom: 1px solid #e6e6e6;	
	padding: 0 0 10px 0;
	margin: 0;
	float: left;
	display: inline-block;
}
.comments-info a{
	text-decoration: none;
}
.comment-item:last-child .comments-info{
	border-bottom: none;
}
.comments-input-text textarea{
	resize: none;
	padding: 6px 12px 2px 12px;
	font-family: "Lato";
}
.comment-submit{
	margin: 15px 5px;
	display: block;
	text-align: right;
}
.btn-comment-submit{
	background-color: #e67e22;
	padding: 5px 35px;
	color: #ffffff;
	font-family: 'Lato';
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
.btn-comment-submit:hover{
	background-color: #ffffff;
	color: #e67e22;
	border: 1px solid #e67e22;
}
.comments-info h4{
	padding: 0;
	margin: 0 24px 10px 0;
	display: inline-block;
	color: #e67e22;
	font-size: 14px;
	font-style: normal;
	font-family: "Lato";
	font-weight: 600;
}
.comments-info p{
	color: #000000;
	font-family: "Lato";
	font-weight: normal;
}
.comment-time{
	display: inline-block;
	font-family: "Lato";
}
.comment-like{
	background: url("../images/comment-like.png") no-repeat;
	width: 14px;
	height: 13px;
	display: inline-block;
}
.comment-count{
	font-family: "Lato";
	font-weight: normal;
	color: #000000;
}
/*Comments page css ends here*/

/*Responsive section starts here*/

@media screen and (max-width: 1330px) {
	.article-box{
		width: 30%;
	}
	.box-shadow{
		width: 30%;
		background-size: 90%;
	}
}

@media screen and (max-width: 1200px) {
	.home-sidebar{
		z-index: 999;
		width: 10%;
		bottom: 0;
		position: fixed;
		cursor: pointer;
		/*left: -500px;*/
		-webkit-transition: 0.5s ease-in;
		-moz-transition: 0.5s ease-in;
		-o-transition:  0.5s ease-in;
		-ms-transition:  0.5s ease-in;
		transition: 0.5s ease-in;
	}
	.logo{
		background-size: 80%;
		margin: 20px 0 0 18%;
	}
	.home-content{
		padding: 20px; 
	}
	.left-arrow{
		display: none;
	}
	.down-icon{
		display: none;
	}
	.home-main{
		width: 90%;
		position: relative;
	}
	.article-like h6, .article-comment h6{
		padding-right: 5px;
	}
	.home-articles{
		margin: 0 0 0 0;
	}
	.s-topic{
		padding: 18px 0 18px 40%;
	}
	.s-topics{
		padding: 0;
	}
	.s-topic h5{
		display: none;
	}
	.s-cat-heading{
		padding: 18px 0 18px 40%;
	}
	.s-cat-heading h5{
		display: none;
	}
	.cat-items{
		display: none;
	}
	.article-box{
		width: 30%;
	}
	.box-shadow{
		width: 30%;
		background-size: 90%;
	}
}
@media screen and (max-width: 1000px) {
	.s-i-form{
		padding: 0 0 0 5%;
	}
	.submit-content{
		/*padding: 0 10% 30px 5%;*/
	}
}
@media screen and (max-width: 768px){
	.home-container{
		border: none;
	}
	.logo{
		background-size: 100%;
		margin: 20px 0 0 35%;
	}
	.mobile-header{
		display: block;
		height: 53px;
		background-color: #2d302e;
		padding-top: 5px;
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 5;
	}
	.left-arrow{
		display: inline-block;
	}
	.cat-items{
		display: block;
	}
	.down-icon{
		display: inline-block;
	}
	.s-topic h5{
		display: inline-block;
	}
	.s-cat-heading{
		padding: 18px 0 18px 40px;
	}
	.s-cat-heading h5{
		display: inline-block;
	}
	.s-topics{
		padding: 30px 0;
	}
	.s-topic{
		padding: 5px 0 5px 40px;
	}
	.home-header{
		margin-top: 55px;
	}
	.home-main{
		width: 100%;
	}
	.home-sidebar{
		left: -1000px;
		width: 100%;
	}
	.home-search{
		margin: 25px 9% 25px 9%;
		width: 80%;
	}
	.mobile-logo{
		background: url('../images/mobile-logo1.png')no-repeat;
		width: 32px;
		height: 25px;
		display: inline-block;
		position: absolute;
		margin: 7px 0 0 55px;
	}
	.mobile-login {
		text-align: right;
		display: inline-block;
		float: right;
		padding-right: 30px;
		padding-top: 10px;
	}
	.mobile-login p{
		display: inline-block;
		font-family: "Lato";
		color: #ffffff;
		font-weight: 400;
		text-align: right;
	}
	.home-user{
		display: none;
	}
	.mobile-user{
		display: inline-block;
		float: right;
		margin: 0px 3% 0px 10px;
	}
	.mobile-user a{
		text-decoration: none;
		color: #000000;
	}
	.mobile-user a li{
		padding: 5px;
	}
	.mobile-user a li:hover{
		background-color: #e67e22;
		color: #ffffff;
	}
	.m-dropdown-menu{
		left: inherit;
		right: 0;
	}
	.m-user span{
		display: inline-block;
	}
	.m-user-pic{
		display: inline-block;
		margin-right: 18px;
	}
	.m-user-name{
		font-family: "Lato";
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		color: #ffffff;
	}
	.mobile-login a{
		color: #ffffff;
	}
	.mobile-login p:first-child:after {
		content: " /";
	}
	.mobile-menu{
		background: url('../images/menu-icon.png') no-repeat;
		width: 18px;
		height: 12px;
		margin: 12px 0 0 23px;
		display: inline-block;
		position: absolute;
		cursor: pointer;
	}
	.search-btn{
		width: 100%;
	}
	.article-box{
		width: 40%;
	}
	.box-shadow{
		width: 40%;
		background-size: 90%;
	}
	.submit-form-select{
		width: 100%;
	}
	.submit-form-select label{
		width: 15%!important;
	}
	.s-i-form>form ul li{
		display: block;
	}
	.s-i-form>form ul li label{
		display: block;
		width: 100%;
	}
	.pl10{padding: 0;}
	.submit-input{width: 100%!important;}
	.submit-form-select select{width: 100%!important;}
	.submit-item{border: 0;}
	.submit-item-shadow{margin: 0;background-size:90%; width: 100%;}
	.submit-item-shadow{display: none;}
	.s-i-form>form ul li{
		/*padding: 0 0 10px 0;*/
	}
	.m-pad-0{padding: 0!important;}
	.tagEditor{
		margin: 0; 
	}
	.tagEditor>li{
		display: inline-block!important;
	}
	.login-left, .login-right, .login-center{
		width: 100%;
	}
	.login-center hr, .login-center.hr-signin hr{
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		margin: 30px auto;
		width: 220px;
	}
	.signupBtn{
		text-align: center;
	}
	.login-center span{
		left: 50%;
		top: 17px;
		margin-left: -13px;
		width: 25px;
		height: 25px;
		font-size: 9px;
	}
	.submit-post{
		padding: 10px 0; 
		display: block;
		float: none;
		text-align: center;
	}
	.submit-text{
		font-size: 16px;
	}
	.home-login{
		display: none;
	}
	.signup-dialog{
		margin-top: 60px;
		width: auto;
		min-width: 300px;
	}
	#content .modal.fade.in {
		top: 5%;
	}
	.submit-content{
		padding: 0px;
	}
	.login-center{
		top: 0;
	}
	.login-left, .login-right{
		text-align: center;
	}
	.login-right{
		padding: 0;
	}
	.login-right a{
		padding-top: 0;
	}
	.article-comments{
		padding: 15px 10px;
	}
	.article-content p{
		padding-right: 0;
	}
}
@media screen and (max-width: 600px){
	.article-box{
		width: 312px;
	}
	.box-shadow{
		width: 312px;
		background-size: 100%;
	}
	.submit-item-shadow{margin: 0;}
	.m-text-center{
		text-align: center!important;
	}
	.sign-tab ul li{
		padding: 5px 25px; 
	}
	.fgt-pwd span, .remember-pwd label{
		font-size: 13px;
	}
	.article-source .source-title{
		display: block;
	}
}
@media screen and (max-width: 350px){
	.home-content{
		padding: 20px 1%;
	}
}
/*Responsive section ends here*/

/* Share Box */
.share-container{
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(1px);
	padding: 0;
	z-index: 999999999999999999;
	position: fixed;
	top: 0;
	width: 100%;
}
.share-box{
	background-color: white;
	width: 300px;
	margin: 0 auto;
	margin-top: 17%;
	height: auto;
	padding: 05px 0px 10px 20px;
	border-top: 3px solid #e67e22;
}
.share-box .share-box-header{
	display: inline-block;
}
.share-box .share-box-header h4{
	color: #222;
	display: inline-block;
}
.share-box .share-box-header svg{
	float: right !important;
	margin-left: 200px;
	position: absolute;
	margin-top: 10px;
	cursor: pointer;
}
.share-box-header .close-share-box{
	background-color:#000;
}
.share-box .share-box-content{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0px 10px 0px;
}
.share-box .share-box-content div{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: #f5f5f5;
	display: inline-block;
	font-size: 20px;
	margin-right: 20px;
}
.share-box .share-box-content div:first-child:hover{
	cursor: pointer;
	background-color: #DB4437;
	transition: 0.4s linear;
	color: white;
}
.share-box .share-box-content div:first-child:hover i{
	color: white;
}
.share-box .share-box-content div:first-child i{
	color: #DB4437;
	font-size: 18px;
	margin: 12px 11px;
}
.share-box .share-box-content div:nth-child(2) i{
	color: #25D366;
	font-size: 23px;
	margin: 10px 11px;
}
.share-box .share-box-content div:nth-child(2):hover{
	background-color: #25D366;
	cursor: pointer;
	transition: 0.4s linear;
	color: white;
}
.share-box .share-box-content div:nth-child(2):hover i{
	color: white;
}
.share-box .share-box-content div:nth-child(3) i{
	color: #00acee;
	font-size: 22px;
	margin: 11px 11px;
}
.share-box .share-box-content div:nth-child(3):hover{
	background-color: #00acee;
	cursor: pointer;
	transition: 0.4s linear;
	color: white;
}
.share-box .share-box-content div:nth-child(3):hover i{
	color: white;
}
.share-box .share-box-content div:nth-child(4) i{
	color: 	#4267B2;
	font-size: 22px;
	margin: 10px 13px;
}
.share-box .share-box-content div:nth-child(4):hover{
	background-color: #4267B2;
	cursor: pointer;
	transition: 0.4s linear;
	color: white;
}
.share-box .share-box-content div:nth-child(4):hover i{
	color: white;
}

/* Promo Box */
.promo-container{

	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(1px);
	padding: 0;
	z-index: 999999999999999999;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex ;
	align-items: center;
	justify-content: center;
}
.promo-box {
	background: rgba(0, 0, 0, .3);
	box-shadow: 0 0 30px 10px rgba(0, 0, 0, .3);
	border-radius:25px;
	transition: 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transform: rotateX(-90deg);
	width: 500px;
	font-family: "Lato", Arial, sans-serif;
	margin-top: -150px;
}
.promo-box.is--open {
	transform: rotateX(0deg);
}
.promo-box-content {
	padding-bottom: 1.5em;
	background: #fff;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	color: #5a5a5a;
	text-align: center;
}
.promo-box-content h4 {
	padding: 1.5em 0;
	border-bottom: 2px solid #ededed;
	color: #865fdf;
	font-size: 1.15em;
	font-weight: 700;
	text-transform: uppercase;
}
.promo-box-content h2 {
	padding: 25px 15px 0px 15px;
	font-size: 25px;
	font-weight: 300;
	line-height: 40px;
}
.promo_box_content p {
	margin: auto;
	width: 55%;
	font-size: 1.15em;
	font-weight: 300;
	line-height: 1.4;
}
.promo__flaps {
	display: flex;
	perspective: 1000px;
	transform-style: preserve-3d;
}
.flap {
	height: 60px;
	background: #e67e22;
}
.flap__btn {
	/*width: calc((100% + 85px) / 2);*/
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background: #e67e33;
	color: white;
	cursor: pointer;
	font-size: 2.1em;
	font-weight: 700;
	text-decoration: none;
	z-index: 1;
	transition: 0.2s ease;
	transform: translate3d(0, 0, 0);
	transform-origin: top center;
	font-family: "Lato", Arial, sans-serif;
	letter-spacing: 1px;
}
.flap__btn:hover, .flap__btn:focus {
	background: #e67e10;
	outline: none;
	transform: rotateX(-25deg) translate3d(0, 0, 0);
	text-decoration: none;
	color: white;
}
.outer {
	width: 106px;
}
.flap--left {
	border-bottom-left-radius: 25px;
	transform-origin: top right;
}
.flap--right {
	border-bottom-right-radius: 25px;
	transform-origin: top left;
}
.is--open .outer {
	animation: swing 1.5s 0.2s ease;
}
.is--open .flap__btn:first-of-type {
	animation: swing 1.5s 0.3s ease;
}
.is--open .flap__btn:last-of-type {
	animation: swing 1.5s 0.4s ease;
}
@keyframes swing {
	10% {
		transform: rotateX(25deg);
	}
	50% {
		transform: rotateX(-15deg);
	}
	75% {
		transform: rotateX(5deg);
	}
	90% {
		transform: rotateX(-2.5deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}

/* Login Box */
.login-box-container{
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(1px);
	padding: 0;
	z-index: 999999999999999999;
	position: fixed;
	top: 0;
	width: 100%;
}
.login-box{
	background-color: white;
	width: 380px;
	margin: 0 auto;
	margin-top: 17%;
	height: auto;
	padding: 05px 0px 20px 20px;
	border-top: 3px solid #e67e22;
}
.login-box .login-box-header{
	display: inline-block;
	text-align: center;
}
.login-box .login-box-header h4{
	color: #222;
	display: inline-block;
	padding-top: 10px;
	margin-left: 40px;
}
.login-box .login-box-header svg{
	float: right !important;
	margin-left: 50px;
	position: absolute;
	margin-top: 05px;
	cursor: pointer;
}
.login-box .login-box-content {
	margin: 20px 0px 15px 15px;
}
.login-box .login-box-content a:hover{
	text-decoration: none !important;
}
.login-box .login-box-content a:focus{
	outline: none !important;
}
.login-box .login-box-content .login-btn{
	background-color: #e67e22;
	width: 150px;
	padding: 7px 10px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}
.login-box .login-box-content .login-btn a:hover{
	text-decoration: none;
}
.login-box .login-box-content .login-btn p{
	position: absolute;
	color: #777;
	font-size: 11px;
	font-style: italic;
	margin-top: 12px !important;
	margin-left: 35px !important;
}
.login-box .login-box-content .login-btn div:first-child {
	height: 30px;
	width:30px;
	border-radius: 50%;
	background: #fff;
	color: black;
	display: inline-block;
	margin-right: 10px;
}
.login-box .login-box-content .login-btn div:first-child i {
	font-size: 17px;
	padding: 7px 10px;
}
.login-box .login-box-content .login-btn .login-btn-txt{
	display: inline-block;
	color: white;
	font-size: 17px;
	letter-spacing: 1px;
}
.login-box .login-box-content .signup-btn{
	background-color: #e67e22;
	width: 150px;
	padding: 7px 10px;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
}
.login-box .login-box-content .signup-btn a:hover{
	text-decoration: none;
}
.login-box .login-box-content .signup-btn div:first-child {
	height: 30px;
	width:30px;
	border-radius: 50%;
	background: #fff;
	color: black;
	display: inline-block;
	margin-right: 10px;
}
.login-box .login-box-content .signup-btn div:first-child i {
	font-size: 17px;
	padding: 7px 9px;
}
.login-box .login-box-content .signup-btn .signup-btn-txt{
	display: inline-block;
	color: white;
	font-size: 17px;
	letter-spacing: 1px;
}
.login-box .login-box-content .signup-btn p{
	position: absolute;
	color: #777;
	font-size: 11px;
	font-style: italic;
	margin-top: 12px !important;
	margin-left: 35px !important;
}

/* Email Share */
.email-share-container{
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(1px);
	padding: 0;
	z-index: 999999999999999999;
	position: fixed;
	top: 0;
	width: 100%;
}
.email-share-box{
	background-color: white;
	width: 350px;
	margin: 0 auto;
	margin-top: 17%;
	height: auto;
	padding: 05px 0px 10px 20px;
	border-top: 3px solid #e67e22;
}
.email-share-content {
	margin: 20px 20px 20px 0px;
}
.email-share-content .input-group span{
	background-color:#e67e22;
}
.email-share-content .submit-btn{
	margin-left: 60px;
	margin-bottom: -10px;
	margin-top:20px;
	width: 150px;
	margin: 0 auto;
	margin-top: 10px;
}
.email-share-content .submit-btn button{
	width: 150px;
	background-color: #e67e22;
	border: none;
	color: white;
	padding: 6px 0px;
	margin-top: 10px;
	margin-bottom: -25px;
}
.email-share-header{
	display: inline-block;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}
.email-notif{
	text-align: center !important;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
	font-size: 16px;
	color: #e67e22;
	margin-bottom: -15px;
	display:none;
	margin-left: -20px;
	width: 190px;
}

@media(min-width: 360px) and (max-width: 600px){
	.android-download-img{
		width:100px !important;
	}
	.article-box-content{
		padding: 0px 20px 20px 20px !important;
	}
	.m-user-pic{
		display:none !important;
	}
	.home-content {
		margin-left: 0px !important;
	}
	.email-share-box{
		margin-top: 35% !important;
	}
	.share-box{
		margin-top: 35% !important;
	}
	.login-box{
		margin-top: 200px !important;
	}
	.promo-box{
		width: 330px !important;
		margin-top: -100px !important;
	}
}
@media(min-width: 600px) and (max-width: 700px){
	.android-download-img{
		width:150px !important;
	}
	.article-box-content{
		padding: 0px 20px 20px 20px !important;
	}
	.m-user-pic{
		display:none !important;
	}
	.home-content {
		margin-left: 0px!important;
	}
	.email-share-box{
		margin-top: 30% !important;
	}
	.share-box{
		margin-top: 35% !important;
	}
	.login-box{
		margin-top: 200px !important;
	}
	.promo-box{
		width: 400px !important;
		margin-top: -100px !important;
	}
}